:root {
    --cor-primaria: #000d6c;
    --cor-secundaria: #0053c0;
    --cor-fundo: #fcfff1;
    --cor-texto: #000;
    --cor-contraste: #d6d6d6;
    --cor-botao: #e1e1e1;

    --fonte-texto: 'Segoe UI', sans-serif;
}

body.tema-escuro {
    --cor-primaria: #82c7ff;
    --cor-secundaria: #66dbff;
    --cor-fundo: #060031;
    --cor-texto: #fff;
    --cor-contraste: #4b64e4;
    --cor-botao: #000;
}

body {
    margin: 0;
    font-family: var(--fonte-texto);
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

header {
    background: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: var(--cor-fundo);
}

article {
    border: 1px solid var(--cor-secundaria);
    padding: 15px;
    width: 300px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background: var(--cor-botao);
    color: var(--cor-texto);
    border: 1px solid var(--cor-secundaria);
}

.btn-tema-escuro {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 30px;
    width: 60px;
    height: 60px;
}