:root {
    --cor-primaria: #000d6c;
    --cor-secundaria: #0053c0;
    --cor-fundo: #fcfff1;
    --cor-texto: #000000;
    --cor-contraste: #d6d6d6;
    --cor-botao: #e1e1e1;

    --fonte-texto:
}

body.tema-escuro {
    --cor-primaria: #82c7ff;
    --cor-secundaria: #66dbff;
    --cor-fundo: #060031;
    --cor-texto: #ffffff;
    --cor-contraste: #4b64e4;
    --cor-botao: #000000;
}

.tema-escuro a {
    color: var(--cor-contraste)
}

.tema-escuro p {
    color: var(--cor-texto)
}

.tema-escuro header p {
    color: var(--cor-contraste)
}

body {
    max-width: 100vw;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--cor-secundaria);
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button {
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    border: 1px solid var(--cor-secundaria);
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 12px;
}

.autor {
    font-weight: bold;
}

main img {
    width: 80px;
    height: 80px;
    display: block;
}

h2,
p {
    margin-bottom: 12px;
}