body {
    max-width: 100vw;
}

header {
    background-color: #393939;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}

.artigo-autor {
    font-weight: bold;
}

main {
    background-color: #fcfff1;
    color: #000000;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

main img {
    width: 80px;
    height: 80px;
    display: block;
}

h2,
p,
button {
    margin-bottom: 12px;
}